artifacts/
experiments/alignment/
data/processed/
src/data/processed/
data/interim/
src/data/interim/
src/data/output/
**/__pycache__/
*.pyc
visual/
experiments/
experiments/synthetic_imu_matching/*.json
experiments/synthetic_imu_matching/__pycache__
experiments/synthetic_imu_matching/*.npz
